@{
    ViewBag.Title = "Crime Site Investigation";
}

<div class="jumbotron jumbotron-custom">
    <h1>Solucione o caso</h1>
    <br />
    <img src="https://static.jorjafox.net/wordpress/2015/08/csi31.jpg" alt="" style="width: 230px; height: 200px; margin: 5px;">
    <h2 class="lead item">Baseado nas pistas, na cena do crime e uma testemunha solucione o caso.</h2>
        <br />
    <p>@Html.ActionLink("Ver as pistas >>", "Clue", "Home", new { @class = "btn btn-default btn-lg", @style = "" })</p>

</div>
